	
h1 {
	font-family:Georgia;
	color:purple;
	font-size:60px;
	background-color:yellow;
	border:dashed 80px blue;
	font-weight:bold;
	border-bottom-color: #3333FF;
    	border-bottom-style: solid;
    	border-bottom-width: 40px;
    	border-right-color: #000066;
   	border-right-style: solid;
    	border-right-width: 30px;
	border-left-color: #000066;
	border-left-style: groove dashed double;
	border-left-width: 30px; 
	border-top-color: black;
	border-top-style:dotted;
	border-top-width: 30px;
}
main {
	color: yellow;	
	background-color: green;
	border-bottom-color: #CC0066;
    	border-bottom-style: dashed;
    	border-bottom-width: 50px;
    	border-right-color: #000066;
   	border-right-style: solid;
    	border-right-width: 30px;
	border-left-color: #000066;
	border-left-style: groove dashed double;
	border-left-width: 30px; 
	border-top-color: black;
	border-top-style:dotted;
	border-top-width: 30px;
}
h2 {
	font-family:Arial;
	color:maroon;
	font-size:40px;
	background-color:red; 
	border:solid 10px black;
	font-weight:bold;
	border-style: dotted dashed solid double;
}
p {
	font-family:Lucida Console;
	color:orange;
	font-size:35px;
	background-color:pink; 
	border:dashed 20px red;
	font-weight:bold;
	border-style: double;
}
footer {
	font-family:Verdana;
	color:white;
	font-size:20px;
	background-color:gray; 
	border:dashed 7px red;
	font-weight:bold;
}
header {
	color: #9a33ff;	
	background-color:  #9a33ff;
	border-bottom-color: #003366;
    	border-bottom-style: dashed 1px;
    	border-bottom-width: 70px;
    	border-right-color: #FF3300;
   	border-right-style: solid dashed;
    	border-right-width: 40px;
	border-left-color: #FFFF00;
	border-left-style: groove dashed double;
	border-left-width: 30px; 
	border-top-color: #996633;
	border-top-style:dotted;
	border-top-width: 35px;
}
